body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(64, 113, 244);
}
.main_container {
    display: flex;
    justify-content: center;
}

#rgisteration_container {
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 520px;
}

.h1_div {
    margin-top: 35px;
}

.h1 {
    margin-left: 40px;
}

.li {
    list-style: none;
}

/* same inputs container div */

#same_inputs {      
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.same_input {
    padding: 13px;
    margin: 8px 0px;
    width: 300px;
    font-size: 17px;
    border: 1px solid rgb(180, 176, 176);
    border-radius: 5px;
    /* box-shadow: -1px 5px 6px -2px rgba(0,0,0,0.57); */
    box-shadow: -1px 6px 4px -4px rgba(180, 176, 176, 0.57);
}

.same_input:focus {
    outline: none;
}

#checkbox_input {
    margin: 15px 0px;
}

.span {
    margin-left: 10px;
    font-weight: 500;
    color: rgb(68, 65, 65);
}

#rigister_btn {
    background-color: rgb(64, 113, 244);
    color: white;
    padding: 10px;
    margin: 15px 0px;
    width: 328px;
    font-size: 18px;
    border: 1px solid rgb(180, 176, 176);
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
    margin-top: 0px;

}

#rigister_btn:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(64, 113, 244);
    color: rgb(64, 113, 244);
}

.border_bottom {
    border-bottom: 1px solid rgb(64, 113, 244);
    width: 250px;
    margin: -8px 43px;
}